<div class="container-fluid">
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Email address</label>
                          <input [(ngModel)]="email" type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input [(ngModel)]="password" type="password" class="form-control" name="password">
                        </div>
                        <button (click)="register()" type="submit" class="btn btn-primary">Submit</button>
                        <div class="row">
                            <div class="col">
                                <a routerLink="/login" routerLinkActive="active">Have Account? <span class="text-primary">Click Here</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
